<%- include('partials/header') %>

    <h1>Dave Grohl</h1>
    <h3>Drums</h3>
    
    <img src="/images/dave.jpg" alt="Dave Grohl" class="img-fluid mb-4">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <p>
                <strong>David Eric Grohl</strong> (born January 14, 1969) is an American musician. 
                He was the drummer for Nirvana from 1990 to 1994. 
                Following the dissolution of Nirvana, Grohl formed the Foo Fighters, of which he is the lead singer, 
                guitarist, and primary songwriter.
            </p>
        </div>
    </div>

</div>
</body>
</html>