<%- include('partials/header') %>

    <h1>Krist Novoselic</h1>
    <h3>Bass Guitar</h3>
    
    <img src="/images/krist.jpg" alt="Krist Novoselic" class="img-fluid mb-4">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <p>
                <strong>Krist Anthony Novoselic</strong> (born May 16, 1965) is an American musician and activist. 
                He was the bassist and co-founder of the rock band Nirvana. 
                After Nirvana disbanded following the death of Kurt Cobain in 1994, Novoselic formed Sweet 75 and Eyes Adrift 
                and released one album with each band.
            </p>
        </div>
    </div>

</div>
</body>
</html>