<%- include('partials/header') %>

    <h1>Kurt Cobain</h1>
    <h3>Lead Vocals & Guitar</h3>
    
    <img src="/images/kurt.jpg" alt="Kurt Cobain" class="img-fluid mb-4">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <p>
                <strong>Kurt Donald Cobain</strong> (February 20, 1967 – April 5, 1994) was an American musician who was the co-founder, 
                lead vocalist, guitarist, and primary songwriter of the rock band Nirvana. 
                Through his angst-fueled songwriting and anti-establishment persona, Cobain's compositions widened the 
                thematic conventions of mainstream rock music.
            </p>
        </div>
    </div>

</div>
</body>
</html>